In [16]:
import pandas as pd

df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84', encoding='utf-8', header = 0, index_col = 0)
df[1]

                          하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
국가 (IOC 코드)
알바니아 (ALB)                       8         4        12
아메리칸사모아 (ASA)                    8         1         9
안도라 (AND)                       11        12        23
앙골라 (ANG)                        9         0         9
앤티가 바부다 (ANT)                   10         0        10
...                            ...       ...       ...
중화민국 (ROC) [ROC]                 3         0         3
자르 (SAA) [SAA]                   1         0         1
북예멘 (YAR) [YAR]                  2         0         2
에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
난민 (ROT) [ROT]                   1         0         1

[79 rows x 3 columns]

In [14]:
df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
df[1]

                 국가 (IOC 코드)  하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
0                 알바니아 (ALB)         8         4        12
1              아메리칸사모아 (ASA)         8         1         9
2                  안도라 (AND)        11        12        23
3                  앙골라 (ANG)         9         0         9
4              앤티가 바부다 (ANT)        10         0        10
..                       ...       ...       ...       ...
74          중화민국 (ROC) [ROC]         3         0         3
75            자르 (SAA) [SAA]         1         0         1
76           북예멘 (YAR) [YAR]         2         0         2
77  에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
78            난민 (ROT) [ROT]         1         0         1

[79 rows x 4 columns]

In [25]:
import pandas as pd

df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84', encoding='utf-8', header = 0, index_col = 0)

summer = df[0].iloc[:, :5]
summer.columns = ['하계참가횟수', '금', '은', '동', '계']
summer = summer.sort_values('금', ascending=False)
summer.to_excel('하계올림픽메달.xlsx')
# summer